.root2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__uqBTs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 80px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.section1 {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns__dOyZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-WBPB2xWRKKSvzK);
  min-width: 0;
}
.columns__dOyZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns__dOyZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dOyZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dOyZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__iy7Tc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iy7Tc {
    width: 100%;
  }
}
.freeBox__bE7Z0 {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-Soy7h-sfNiWHD3);
  height: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px 135px;
}
.freeBox__bE7Z0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox__bE7Z0 > :global(.__wab_flex-container) > *,
.freeBox__bE7Z0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bE7Z0 > :global(.__wab_flex-container) > picture > img,
.freeBox__bE7Z0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bE7Z0 {
    border-bottom-right-radius: 0px;
    padding: 45px 30px 0px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copy {
    margin-bottom: 20px;
  }
}
.freeBox__wqkMf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wqkMf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__wqkMf > :global(.__wab_flex-container) > *,
.freeBox__wqkMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wqkMf > :global(.__wab_flex-container) > picture > img,
.freeBox__wqkMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__vxFeh {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1__y4W9I {
  font-size: 40px;
  font-weight: 800;
  color: var(--token-hzkxpPdHDR6tTQ);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__y4W9I {
    font-size: 32px;
  }
}
.column__vKxwm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-Soy7h-sfNiWHD3);
  border-bottom-right-radius: 150px;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vKxwm {
    width: 100%;
  }
}
.freeBox__vEjch {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-M5ZJ3oTKqIUaSF);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.img__sokkj {
  position: relative;
  object-fit: cover;
  max-width: 65%;
}
.img__sokkj > picture > img {
  object-fit: cover;
}
.img__sokkj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__haen6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__haen6 {
    display: none;
  }
}
.ctaBlog2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  transform: none;
  align-self: auto;
  min-width: 0;
  padding: 0px 135px 71px;
  border-width: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ctaBlog2 {
    padding: 29px 30px;
  }
}
.img__zrwfN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
  left: 214px;
  top: -21px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(5deg);
  transform-style: preserve-3d;
}
.img__zrwfN > picture > img {
  object-fit: cover;
}
.img__zrwfN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__zrwfN * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zrwfN {
    width: 231px;
    height: auto;
    top: 0px;
    left: 80px;
    transform-style: preserve-3d;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__zrwfN * {
    transform-style: preserve-3d;
  }
}
.columns__fvy0G {
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  transform: none;
  padding: 8px;
}
.columns__fvy0G > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fvy0G {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px 1px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fvy0G > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fD33W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") top -30% left 50% / contain repeat-x,
    url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") left 50% top 84.9% / contain no-repeat
      padding-box border-box,
    var(--token-M5ZJ3oTKqIUaSF);
  min-width: 0;
  border-radius: 50px;
  padding: 84px 65px 56px;
  border-style: solid;
  border-color: var(--token-M5ZJ3oTKqIUaSF);
}
.column__fD33W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__fD33W > :global(.__wab_flex-container) > *,
.column__fD33W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__fD33W > :global(.__wab_flex-container) > picture > img,
.column__fD33W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fD33W {
    border-radius: 30px;
    padding: 50px 30px;
  }
}
.h1__xEyHi {
  position: relative;
  width: 90%;
  height: auto;
  max-width: none;
  font-weight: 400;
  font-size: 22px;
  color: var(--token-jI46uOvSKw-7eH);
  line-height: 145%;
  letter-spacing: normal;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__xEyHi {
    font-size: 16px;
    width: 100%;
    min-width: 0;
  }
}
.section11 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  display: none;
  padding: 65px 135px;
}
.section11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section11 > :global(.__wab_flex-container) > *,
.section11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section11 > :global(.__wab_flex-container) > picture > img,
.section11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section11 {
    padding: 50px;
  }
}
.h1__rloRz {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-Soy7h-sfNiWHD3);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
.freeBox__rkDb {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-pIhWOiJbWpqz3j);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.columns__otgr0 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__otgr0 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__otgr0 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__otgr0 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__otgr0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__otgr0 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nrypG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nrypG {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__swvY {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__swvY > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__swvY > :global(.__wab_flex-container) > *,
.freeBox__swvY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__swvY > :global(.__wab_flex-container) > picture > img,
.freeBox__swvY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__swvY {
    align-self: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__swvY > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img__bZipx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__bZipx > picture > img {
  object-fit: cover;
}
.img__bZipx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__bZipx {
    align-self: center;
  }
}
.text__pb0U3 {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pb0U3 {
    align-self: center;
  }
}
.text__fqnpc {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Soy7h-sfNiWHD3);
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fqnpc {
    align-self: center;
    text-align: center;
  }
}
.column__mozJu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mozJu {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___9IGoi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox___9IGoi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___9IGoi > :global(.__wab_flex-container) > *,
.freeBox___9IGoi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9IGoi > :global(.__wab_flex-container) > picture > img,
.freeBox___9IGoi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9IGoi {
    padding: 0px;
  }
}
.img___3Usy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img___3Usy > picture > img {
  object-fit: cover;
}
.img___3Usy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3Usy {
    align-self: center;
  }
}
.text__dJby {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dJby {
    align-self: center;
  }
}
.text__xyfJg {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Soy7h-sfNiWHD3);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xyfJg {
    text-align: center;
    align-self: center;
  }
}
.column__ppht2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
.freeBox__puFkn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__puFkn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__puFkn > :global(.__wab_flex-container) > *,
.freeBox__puFkn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__puFkn > :global(.__wab_flex-container) > picture > img,
.freeBox__puFkn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__puFkn {
    padding: 0px;
  }
}
.img__izMiE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__izMiE > picture > img {
  object-fit: cover;
}
.img__izMiE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__izMiE {
    align-self: center;
  }
}
.text__xWDj {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xWDj {
    align-self: center;
  }
}
.text___4CwFa {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-Soy7h-sfNiWHD3);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4CwFa {
    text-align: center;
    align-self: center;
  }
}
.freeBox__y9KPz {
  display: block;
  position: relative;
  width: 100%;
  max-width: 80%;
  align-self: center;
  background: #c7d8ee;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") left 50% bottom 140% / contain
      repeat-x,
    url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") top 89% left 50% / contain repeat-x,
    var(--token-Soy7h-sfNiWHD3);
  min-width: 0;
  padding: 80px 135px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cta {
    padding-right: 30px;
    padding-left: 30px;
    background: url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") left 50% bottom 100% / contain
        repeat-x,
      url("/plasmic/copy_of_coach_website/images/webBgPattern1Png.png") top 93% left 50% / contain repeat-x,
      var(--token-Soy7h-sfNiWHD3);
  }
}
.text__abp9I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  color: var(--token-Mmr5w6CsNtLzn9);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__abp9I {
    font-size: 16px;
  }
}
.text__tIkrU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 65%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tIkrU {
    font-size: 28px;
    max-width: none;
  }
}
.freeBox___8Wy9U {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox___8Wy9U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___8Wy9U > :global(.__wab_flex-container) > *,
.freeBox___8Wy9U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Wy9U > :global(.__wab_flex-container) > picture > img,
.freeBox___8Wy9U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.link {
  flex-direction: row;
  position: relative;
  background: var(--token-pIhWOiJbWpqz3j);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    align-self: flex-start;
  }
}
.text__boGcA {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__boGcA {
    text-align: center;
  }
}
.img___15IDt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___15IDt > picture > img {
  object-fit: cover;
}
.img___15IDt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
